asgiref==3.3.4
automium==0.2.6
automium-web==0.1.1
click==8.0.1
Django==3.2.3
django-crispy-forms==1.11.2
django-email-users==1.1.0
Flask==2.0.1
itsdangerous==2.0.1
Jinja2==3.0.1
legacy==0.1.6
MarkupSafe==2.0.1
Pillow==8.2.0
pytz==2021.1
signals==0.0.2
sqlparse==0.4.1
Werkzeug==2.0.1
